.container {
  margin: 50px;
  /*  background:linear-gradient(120deg,#2980b9,#8e44ad); */
  background-image: url(../../country.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: 10px black;
  height: 90vh;

  overflow: hidden;
}
.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  margin-top: 5px;
  border-radius: 10px;
  text-align: center;
}
.list img {
  margin: 3px 8px 0px 8px;
}
.label {
  color: rgb(161, 195, 211);
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin-bottom: -10px;
}
.content {
  font-size: 15px;
  color: rgb(224, 217, 189);
  margin-bottom: 10px;
}
h1 {
  margin-top: 35px;
}

